html, body {
  width: 100%;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #eee;
  color: #181818;
}
*{
  box-sizing: inherit;
  text-decoration: none;
}
.main-header {
  width: 100%;
  min-height: 100%;
  background: #eee;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 40px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  color: azure;
  font-size: 2rem;
  padding: 12px 19px 0;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}

.logo i:hover {
  background-color: #a7a8a8;
  color: #d60303;
}

.logo .logo-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.logo .logo-text:hover {
  color: #ec0404;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: black;
  margin: 5px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
}

nav .navlinks {
  list-style-type: none;
  background-color: #c3c5c4;
  margin: 5px;
  padding: 10px;
}

nav .navlinks li {
  display: inline-block;
}

nav .navlinks li a {
  color: black;
  margin: 2rem;
  font-size: 14px;
}

nav .navlinks li a:hover {
  color: #f10505;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
  gap: 2rem;
}

.container .hero-pic {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #dfe2e2;
  box-shadow: 5px 7px 25px #000;
}

.hero-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.hero-pic img:hover {
  transform: scale(1.1);
}

.hero-text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.hero-text h5 {
  color: #680000;
  font-size: 14px;
}

.hero-text h5 span {
  color: #bb0202;
  font-size: 16px;
}

.hero-text h1 {
  color: #f10c0c;
  font-size: 3rem;
}

.hero-text p {
  color: black;
  font-size: 13.5px;
  text-align: justify;
}

.btn-group {
  margin: 45px 0;
}

.btn-group .btn {
  border: 2px solid #fff;
  color: black;
  background-color: #d6d6d6;
  padding: 12px 25px;
  margin-right: 7px;
  border-radius: 30px;
  box-shadow: 0 10px 10px -8px rgba(221, 221, 221, 0.78);
  transition: 0.5s;
}

.btn.active {
  border-color: #fb9393;
  font-weight: bold;
}

.btn-group .btn:hover {
  background-color: #ffb0b0;
}

.hero-text .social i {
  color: #ef6e6e;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}

.hero-text .social i:hover {
  color: #fc1e0a;
  transform: rotate(360deg);
}

.wrapper .building {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
  gap: 10px;
}
.building {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.building img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
@media (max-width: 930px) {
  nav .togglebtn {
    display: block;
  }

  .click span {
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-40deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navlinks {
    top: 110px;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #d6d6d6;
    z-index: 3;
    box-shadow: 5px 13px 30px #fff;
    transition: 0.5s;
    padding: 25px 0;
  }

  nav .navlinks.open {
    right: 0;
  }

  nav .navlinks li {
    display: block;
  }

  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }

  .hero-text {
    padding: 30px 0;
  }
}

.container2 {
  width: 100%;
  min-height: 20vh;
  background: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px; /* Tambahan */
}
.container2 img {
  height: 80px;
  width: 80px;
  margin: 0 20px;
  cursor: pointer;
}

.container2 .logo2,
.container2 .colom1,
.container2 .colom2 {
  flex: 1;
  max-width: 420px;
  padding: 20px;
  background-color: #c0c0c0;
  justify-items : center;
}

.container2 ul {
  list-style: none;
  padding: 0;
  justify-items: center;
}

.container2 ul li a {
  color: #000;
}

.container2 h4 {
  color: #fff;
  margin-bottom: 10px;
}
